{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Apply to an Organization</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} {# This will render both organization dropdown and message field #}
    <button type="submit">Submit Application</button>
</form>

<a href="{% url 'applications_list' %}">Back to My Applications</a>
{% endblock %}
