{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <p>
      <label for="id_username">Username</label><br>
      {{ form.username }}
    </p>
    <p>
      <label for="id_password">Password</label><br>
      {{ form.password }}
    </p>
    <p>
      {{ form.remember_me }}
      <label for="{{ form.remember_me.id_for_label }}">Remember me</label>
    </p>

    <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <button type="submit">Log in</button>
  </form>
  <p>Admins: please use <code>/admin/</code> instead.</p>
{% endblock %}
