{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Home</h1>
  {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
  {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
  {% if user.is_authenticated %}

    {% if user.is_sponsor %}
        <a href="{% url 'rewards:add_points' %}" class="btn btn-primary">
            Award Points to a Driver
        </a>

    {% elif user.is_driver %}
        <a href="{% url 'rewards:dashboard' %}" class="btn btn-primary">
            View My Points Dashboard
        </a>
    
    {% endif %}

{% endif %}
{% endblock %}