{% extends "base.html" %}
{% block title %}Set a New Password{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>Set a New Password</h1>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for e in form.non_field_errors %}<div>{{ e }}</div>{% endfor %}
      </div>
    {% endif %}

    <div class="mb-3">
      <label>New password</label>
      {{ form.new_password1 }}
      {% if form.new_password1.help_text %}
        <div class="form-text">{{ form.new_password1.help_text|safe }}</div>
      {% endif %}
      {% for e in form.new_password1.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
    </div>

    <div class="mb-3">
      <label>Confirm new password</label>
      {{ form.new_password2 }}
      {% for e in form.new_password2.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
    </div>

    <button class="btn btn-primary">Save new password</button>
  </form>
</div>
{% endblock %}